.page {
  grid-row: 1;

  padding-top: $page-top-padding;
  padding-bottom: $page-bottom-padding;

  &:first-of-type {
    grid-column: page-first;
    padding-left: $page-outer-padding;
    padding-right: $page-inner-padding;
  }

  &:last-of-type {
    grid-column: page-last;
    padding-left: $page-inner-padding;
    padding-right: $page-outer-padding;
  }
}
